body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

/* --- NAVBAR --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #e6e6e6;
    font-weight: bold;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

/* --- SEARCH BAR WRAPPER --- */
.search {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

/* --- SEARCH INPUT --- */
.searchbar {
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.3s;
}

/* Hover + focus effect */
.searchbar:focus {
    border-color: #6a4fee;
    box-shadow: 0 0 6px rgba(106, 79, 238, 0.4);
}

.hero {
    padding: 20px;
    background: white;
    display: flex;
    gap: 20px;
}

.hero .text {
    flex: 1;
}
.hero img {
    width: 150px;
    height: 150px;
    background: #dcdcdc;
}
.info {
    padding:20px;
    background: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 10px;
    border-color: #000;
    gap: 20px;
    margin: 10px;
}
.achievements {
    background: white;
    width: 400px;
    height: 100px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    text-align: center;
    font-weight: bold;
    display: flex;                 
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.achievements .text {
    flex: 1;
}
.reviews {
    padding:20px;
    background: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border: 10px;
    border-color: #000;
    gap: 20px;
    margin: 10px;
}
