body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

/* --- NAVBAR --- */
.navbarB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #e6e6e6;
    font-weight: bold;
}

.navbarB a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

h1 {
    color: #6a4fee;
    font-size: 20px;
    margin-left: 20px;
}

.logoB {
    flex: 1;
    display:flex;
    align-items: center;
}

.searchB {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.pagesB {
    flex: 1;
    display:flex;
    align-items: center;
    margin-left: 20px;
}
/* --- SEARCH INPUT --- */
.searchbarB {
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.3s;
}

/* Hover + focus effect */
.searchbarB:focus {
    border-color: #6a4fee;
    box-shadow: 0 0 6px rgba(106, 79, 238, 0.4);
}

/* intro section */
.introB {
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introB .textB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoB {
    padding:20px;
    background: #dcdcdc;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    border: 10px;
    border-color: #000;
    gap: 20px;
    margin: 10px;
    flex-direction: row;
}
.infoB .textB {
    display:flex;
    width: 60%
}

.imagegoodB {
    flex: 40%;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imagegoodB img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}


.achieve-titleB {
    margin: 0.2;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    font-size: large;
    display: flex;
    padding: 12px;
}
.achievementsB {
    background: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    text-align: center;
    font-weight: bold;
    display: flex;                 
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-basis: auto;
}
.achievementsB .textB {
    flex: 1;
    align-self: center;
}
.review-titleB {
    padding: 12px;
    display:flex;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    font-size: large;

}
.reviewsB {
    padding:20px;
    background: #dcdcdc;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    border: 10px;
    border-color: #000;
    gap: 20px;
    margin: 10px;
}
.profileB img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.reviewsB .textB {
    display:inline-block;
    width: 67%;
    background-color:#e6e6e6;
}